<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon-32x32.png">
    <link rel="stylesheet" href="../Css/style.css">
    <title>About Me</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="../index.html"><img src="../images/icono emoji.png" alt="foto de Curriculum"></a>
        </div>
        </div>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="d-flex justify-content-end flex-wrap bg-dark p-4">
                <h5 class="text-white h4"><a class="text-light" href="../index.html">SPANISH VERSION</a></h5>
                <!--<span class="text-muted">Toggleable via the navbar brand.</span> -->
            </div>
            <div class="d-flex justify-content-end flex-wrap bg-dark p-4">
                <h5 class="text-white h4"><a class="text-light" href="proyectospersonales.html">BRIEFCASE</a></h5>
                <!--<span class="text-muted">Toggleable via the navbar brand.</span> -->
            </div>
            <div class="d-flex justify-content-end flex-wrap bg-dark p-4">
                <h5 class="text-light h4"><a class="text-light" href="contacto.html">CONTACT</a></h5>
                <!--<span class="text-muted">Toggleable via the navbar brand.</span> -->
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid d-flex justify-content-end">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        </nav>
    </header>
    <section class="sectionNav">
        <nav>
            <ul>
                <li><a href="../index.html">SPANISH VERSION</a></li>
                <li><a href="./proyectospersonales.html">BRIEFCASE</a></li>
                <li><a href="./contacto.html">CONTACT</a></li>
            </ul>
        </nav>
    </section>
    <main class="mainIndex" data-aos="fade-up"
    data-aos-duration="3000">
        <section class="tittleDatos">
                <div>
                    <h1>MAIN DATA</h1>
                </div>
        </section>
        <section class="imgPerfil">
            <div class="imgconteiner"><img class="img" src="../images/WhatsApp Image 2022-11-01 at 16.20.39.jpeg" alt="Foto rostro"> </div>
            <h6 class="subtittle">WEB DEVELOPER</h6>
        </section>
        <section class="datosContain">
            <div class="description">
                <p>I'm Eric Gill, I'm 20 years old and I'm currently taking a web development course at Coderhouse, <br>
                    where I acquired knowledge about design and programming of web pages. <br>
                    I am very interested in continuing to acquire tools that help when designing and solving problems effectively. </p>
            </div>
        </section>
        <section class="objetivosContainer">
            <div><h5 class="subtittle">PERSONAL GOAL</h5></div>
            <div class="description"> <!--Objetivos-->
                <p>My goal as a web developer is to
                    schedule and design optimally <br>
                    the different projects that are presented to me, <br>
                    achieving in the process, improve my
                    skills, <br>
                    constantly learning
                    new programming techniques.</p>
            </div>
        </section>
        
        <section class="eduSection">
            <div>
            <h1>EDUCATION</h1>
            </div>
            <div class="description">
                <div>
                    <h5>FULL STACK DEVELOPMENT CAREER (2022 - IN PROGRESS)</h5><br>
                    <h5>Coderhouse</h5><br>
                    <ul>
                        <li>Javascript - framework React JS - Programación Back End - Bases de datos SQL y NoSQL</li>
                    </ul>
                </div>
            </div>
            <div class="description">
                <h5>WEB DEVELOPMENT COURSE (2022)</h5><br>
                <h6>Coderhouse</h6><br>
                <ul>
                    <li>HTLM - CSS - BOOTSTRAP - FLEXBOX - GRID - GITHUE - FULL RESPONSIVE - BOX MODELING </li>
                </ul>
            </div>
            <div class="description">
                <h5>SECONDARY STUDIES (2014-2020)</h5><br>
                <h6>Nuestra Señora de Monte Grande</h6><br>
                <ul>
                    <li>Bachelor of Social Sciences </li>
                    </ul>
            </div>
        </section>
        <section class="expSection">
            <div>
                <h1>EXPERIENCE</h1>
            </div>
            <div class="description">
                <div>
                    <h2>Restaurant “Academia Della Pizza”</h2><br>
                    <ul>
                        <li>Junior.
                            (Encargado: Balmaceda Gustavo, Tel. 1162179061) </li>
                    </ul>
                </div>
                <div>
                    <h2>“Newdrinks” Drinks Services Company</h2><br>
                    <ul>
                        <li>Bar and various activities. (Pablo Vernengo Lima, Tel.  1154296757)</li>
                    </ul>
                </div>
                <div>
                    <h2>Public and private events</h2><br>
                    <ul><li>Assembly of stages, tents, sound and lighting and scaffolding in stadiums, ballrooms (Tel. 1154296757)</li></ul>
            </div>
            </div>
            
        </section>
        <section class="sofSection">
            <h1>SOFTWARE</h1>
            <div class="description"> <!--SOFTWARE-->
                <ul>
                    <li>VISUAL STUDIO CODE - AVANZADO</li>
                    <li>PHOTOSHOP - BASICO</li>
                    <li>OBS STUDIO - INTERMEDIO </li>
                    <li>MICROSOFT WORD - AVANZADO</li>
                    <li>MICROSOFT EXCEL - INTERMEDIO</li>
                </ul>
            </div>
        </section>
        <section class="idiSection">
            <h1>IDIOMS</h1>
            <div class="description">
                <ul>
                    <li>Advanced Inglish</li>
                    <li>Spanish (Native Language)</li>
                </ul>
            </div>
        </section>
        
        
        
    </main>
    <footer>
        <section class="footercard">
            <ul>
                <li><img src="../images/img-footer.png" alt="">
                    <ul>
                        <li><a target="_blank" href="https://www.linkedin.com/in/eric-gill-287853215"><img class="imgFooter" src="../images/linkedin-50.png" alt=""></a></li>
                        <li><a href="./contacto.html"><img class="imgFooter" src="../images/contactos-50.png" alt=""></a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <section class="desktop">
            <ul>
                <li><a target="_blank" href="https://www.linkedin.com/in/eric-gill-287853215"><img class="imgFooter" src="../images/linkedin-50.png" alt="imagen linkedin"></a></li>
                <li><a href="../views/contacto.html"><img class="imgFooter" src="../images/contactos-50.png" alt="imagen contacto"></a></li>
            </ul>
        </section>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>